<div class="home">
    <h1> Welcome </h1>
    <h2> You can view a list of my reusable Angular Modules (Calendar & Timepicker) </h2>

    <hr />
    <div style="max-width:1000px; margin: 0 auto;" class="center-align">
                <h2>Angular Calendar Demo</h2>
                <p>Accepts multiple inputs & config options</p>
            <angular-calendar
            [selectedView]="'month'"
            [loadingData]="loadingData" 
            [eventData]="events$ | async"
            (calendarDateChange)="handleDateChange($event)">
                    <angular-calendar-heading>
                        <h3>Hello this is heading that is projected via directive</h3>
                    </angular-calendar-heading>

                    <ng-template let-event>
                            <div class="my-event">
                                <h3>{{ event.eventName }}</h3>
                                <img [src]="event.eventImg">
                                <p>{{event.eventDescription}} </p>
                            </div>
                    </ng-template>
                    
                    <angular-calendar-footer>Some footer information</angular-calendar-footer>
            </angular-calendar>

            <section class="row">
                    <h2>Hours input example</h2>
                    <p>Connected to either reactive or regular input field. Accepts keyboard arrows input</p>
                <h3>Reactive forms example</h3>
                <div class="row-inputs">
                  <div class="row-inputs__input">
                      <label>
                          hours
                        <input 
                        type="text" 
                        timepicker="hours"
                        [formControl]="hoursInput" 
                        [timepickerFieldControl]="hoursInput"/>
                        </label>
                   </div>
                   <div class="row-inputs__input">
                      <label>
                          Minutes
                          <input 
                            type="text" 
                            timepicker="minutes"
                            [formControl]="minutesInput" 
                            [timepickerFieldControl]="minutesInput"/>
                      </label>                     
                   </div>
                   <div class="row-inputs__input">
                      <label>
                          Seconds
                           <input 
                           type="number" 
                           timepicker="seconds"
                           [formControl]="secondsInput" 
                           [timepickerFieldControl]="secondsInput"/>      
                         </label>
                   </div>


                </div>
              </section>
        
              <section class="row">
                <h3>Regular input fields</h3>
                <div class="row-inputs">
                    <div class="row-inputs__input">
                        <input 
                        type="text" 
                        timepicker="hours" 
                        value="12"/>
                    </div>
                    <div class="row-inputs__input">
                        <input 
                        type="number" 
                        timepicker="minutes" 
                        value="12"/>
                    </div>
                    <div class="row-inputs__input">
                        <input 
                        type="number" 
                        timepicker="seconds" 
                        value="12"/>
                    </div>

                </div>
              </section>

      
              <div class="ngrx-store-panel panel--centered">
                  <h3>Or here is a link to NGRX povered Lazy loaded APP demo:</h3>
                  <a routerLink="demo-admin" class="btn btn--info">NGRX store admin APP</a>
              </div>
    </div>



 </div>