@import '../../../../scss/modules/inputs';
@import '../../../../scss/utilities/config';
@import '../../../../scss/modules/buttons';
.home{
    text-align: center;
    .row-inputs{
        display: flex;
        &__input{
            margin-right: 10px;
            flex-grow: 1;
        }
    }
    [class^="panel"]{
        max-width: 800px;
        background-color: $white;
        margin:0 auto;
    }
    .ngrx-store-panel{
       margin-top: em(18px);
    }
    .scroll-wrap{
        max-width: 300px;
        margin:0 auto;
        mat-progress-bar{
            margin: 1em 0;
        }
        .custom-scroll-container{
            max-width: 300px;
            max-height: 300px;
            overflow-y: scroll;
        }
    }
    ul{
        list-style:none;
        background-color: white;
        li{
            display: flex;
            padding:.4em;
            border-bottom: 1px dotted gray;
            position:relative;
        }
    }
    .hover-tmpl{
        position: absolute;
        right:0;
        top:0;
        z-index: 10;
        width: 100px;
        display:flex;
        justify-content: space-evenly;
        span{
            display:inline-block;
            cursor: pointer;
            padding:.2em;
        }
    }
}
