@import '../../../../scss/modules/inputs';
@import '../../../../scss/utilities/config';
@import '../../../../scss/modules/buttons';
.home{
    text-align: center;
    .row-inputs{
        display: flex;
        &__input{
            margin-right: 10px;
            flex-grow: 1;
        }
    }
    [class^="panel"]{
        max-width: 800px;
        background-color: $white;
        margin:0 auto;
    }
    .ngrx-store-panel{
       margin-top: em(18px);
    }
}
