<div class="home">
    <h1> Hello this is home Component </h1>
    <h3> Here there will be links to other stuff and lazy loaded other modules </h3>

    <div style="max-width:1000px; margin: 0 auto;">
            <angular-calendar
            [selectedView]="'week'" 
            (calendarDateChange)="handleDateChange($event)">
                    <angular-calendar-heading>
                        <h3>Hello this is heading that is projected via directive</h3>
                    </angular-calendar-heading>
                    <ng-template>Hello use me as day template</ng-template>
                    <angular-calendar-footer>Some footer information</angular-calendar-footer>
                </angular-calendar>
           
    </div>

 </div>